
.justifyColur{
  color: orange;
}
.navbar-brand{
  margin-left: 20px;
}
.main{
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(115deg, #6bc9bc 10%, #b206c9 90%);
}
.container{
  max-width: 500px;
  background: #fff;
  width: 1000px;
  height: 400px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  align-items: center;
  margin: auto;
  margin-left: "20px";
  
  
}
.container .text{
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  align-items: center;
  padding: "auto";
  


}














